body {
    background: url("body-bg.jpg");
    margin: 0;
    border: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
    font-weight: 100;
}

ul {
    margin: 0;
    padding: 0;
}

a:hover {
    font-weight: 900;
}

.blue {
    color: #39A0D7;
}

h1, h2, h3, h4, h5 {
    margin: 2px;
    word-break: break-all;
}

@font-face {
    font-family: FontAwesome;
    src: url(font-awesome-4.4.0/fonts/fontawesome-webfont.eot?v=4.3.0);
    src: url(font-awesome-4.4.0/fonts/fontawesome-webfont.eot?#iefix&v=4.3.0) format('embedded-opentype'), url(font-awesome-4.4.0/fonts/fontawesome-webfont.woff2?v=4.3.0) format('woff2'), url(font-awesome-4.4.0/fonts/fontawesome-webfont.woff?v=4.3.0) format('woff'), url(font-awesome-4.4.0/fonts/fontawesome-webfont.ttf?v=4.3.0) format('truetype'), url(font-awesome-4.4.0/fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular) format('svg');
    font-weight: 400;
    font-style: normal
}

.icon {
    width: 20px;
    height: 20px;
}

.line {
    width: 90%;
    margin: 10px auto 10px auto;
    background-color: #3797cc;
}

.line-normal {
    height: 5px;
}

.line-thin {
    height: 2px;
}

#main {
    position: relative;
    width: 696px;
    margin: 0 auto;
    overflow: hidden;
}

#main-left {
    width: 200px;
    background-color: #39A0D7;
    float: left;
    color: #f1f2f2;
    margin-bottom: -2000px;
    padding-bottom: 2000px;
}

#main-right {
    width: 496px;
    float: right;
    background-color: #D8D8D7;
    color: #838383;
    margin-bottom: -2000px;
    padding-bottom: 2000px;
}

.head-img {
    width: 100px;
    height: 100px;
    margin: 20px auto;
    background-image: url("head-rube.png");
}

.head-name {
    text-align: center;
}

.head-icon {
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}

.head-desc-block {
    overflow: hidden;
    width: 200px;
    margin: 0 auto;
}

.head-desc {
    float: left;
    color: #f1f2f2;
    word-break: break-all;
    line-height: 16px;
    width: 150px;
    font-size: 13px;
    margin-right: 10px;
}

.head-connect {
    color: #f1f2f2;
    word-break: break-all;
    line-height: 20px;
    width: 190px;
    font-size: 13px;
    margin: 100px 5px 50px 5px;
}

.ct-block {
    padding: 20px;
    width: 430px;
    background-color: #fff;
    margin: 20px auto;
}

.ct-icon {
    margin: 5px;
    vertical-align: middle;
}

.ct-title {
    vertical-align: middle;
    font-weight: 900;
}

.ct-item-title {
    vertical-align: middle;
    font-weight: 900;
    color: #39A0D7;
}

.ct-content {
    margin-top: 20px;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
}

.ct-content li {
    line-height: 20px;
}

.skill-line {
    position: relative;
    width: 150px;
    height: 3px;
    margin-top: 6px;
    margin-bottom: 6px;
}

.skill-line .sl-point {
    width: 10px;
    height: 10px;
    border-radius: 5px 5px 5px 5px;
    position: absolute;
    display: block;
    top: -3px;
    background-color: #f1f2f2;
}

.skill-line-1 {
    background-image: -webkit-linear-gradient(left, #f1f2f2 30px, #3797cc 30px);
    background-image: -moz-linear-gradient(left, #f1f2f2 30px, #3797cc 30px);
    background-image: linear-gradient(left, #f1f2f2 30px, #3797cc 30px);
}

.skill-line-1 .sl-point {
    left: 25px;
}

.skill-line-2 {
    background-image: -webkit-linear-gradient(left, #f1f2f2 60px, #3797cc 60px);
    background-image: -moz-linear-gradient(left, #f1f2f2 60px, #3797cc 60px);
    background-image: linear-gradient(left, #f1f2f2 60px, #3797cc 60px);
}

.skill-line-2 .sl-point {
    left: 55px;
}

.skill-line-3 {
    background-image: -webkit-linear-gradient(left, #f1f2f2 90px, #3797cc 90px);
    background-image: -moz-linear-gradient(left, #f1f2f2 90px, #3797cc 90px);
    background-image: linear-gradient(left, #f1f2f2 90px, #3797cc 90px);
}

.skill-line-3 .sl-point {
    left: 85px;
}

.skill-line-4 {
    background-image: -webkit-linear-gradient(left, #f1f2f2 110px, #3797cc 110px);
    background-image: -moz-linear-gradient(left, #f1f2f2 110px, #3797cc 110px);
    background-image: linear-gradient(left, #f1f2f2 110px, #3797cc 110px);
}

.skill-line-4 .sl-point {
    left: 105px;
}

.skill-line-5 {
    background-image: -webkit-linear-gradient(left, #f1f2f2 125px, #3797cc 125px);
    background-image: -moz-linear-gradient(left, #f1f2f2 125px, #3797cc 125px);
    background-image: linear-gradient(left, #f1f2f2 125px, #3797cc 125px);
}

.skill-line-5 .sl-point {
    left: 120px;
}

@media screen and (max-width: 767px) {
    #main {
        overflow: hidden;
        width: 100%;
    }

    #main-left {
        width: 100%;
    }

    #main-right {
        width: 100%;
    }

    .head-connect {
        margin-top: 0px;
        margin-bottom: 10px;
    }

    .ct-block {
        width: 90%;
    }
}

.github-icon, .blog-icon, .phone-icon, .mail-icon, .wechat-icon,
.power-icon, .project-icon, .work-icon {
    vertical-align: middle;
    font-family: FontAwesome;
}

.github-icon::before {
    content: "\f09b";
}

.blog-icon::before {
    content: "\f09e";
}

.phone-icon::before {
    content: "\f095";
}

.mail-icon::before {
    content: "\f0e0";
}

.wechat-icon::before {
    content: "\f1d7";
}

.power-icon::before {
    content: "\f013";
}

.project-icon::before {
    content: "\f135";
}

.work-icon::before {
    content: "\f0b1";
}